@model List<AlbumFiguritas.Models.Figurita>

@{
    ViewData["Title"] = "Gestionar Álbum";
}

<div class="container mt-4">

    <h2>Gestionar Álbum</h2>

    <hr />

    <form asp-action="Gestion" method="get">

    <!-- Buscador y filtros -->
    <div class="row mb-4">

        <!-- Buscar por nombre o número -->
        <div class="col-md-3">
            <input type="text"
                   name="busqueda"
                   value="@ViewBag.Busqueda"
                   class="form-control"
                   placeholder="Buscar jugador o número..." />
        </div>

        <!-- Filtro por selección -->
        <div class="col-md-3">
                <select name="seleccion" class="form-select">

                    <option value=""
                            selected="@(string.IsNullOrEmpty(ViewBag.Seleccion))">
                        Todas las selecciones
                    </option>

                    <option value="Argentina"
                            selected="@(ViewBag.Seleccion == "Argentina")">
                        Argentina
                    </option>

                    <option value="Brasil"
                            selected="@(ViewBag.Seleccion == "Brasil")">
                        Brasil
                    </option>

                    <option value="Francia"
                            selected="@(ViewBag.Seleccion == "Francia")">
                        Francia
                    </option>

                    <option value="Inglaterra"
                            selected="@(ViewBag.Seleccion == "Inglaterra")">
                        Inglaterra
                    </option>

                </select>
        </div>

        <!-- Filtrado por estado -->

            <div class="col-md-2">
                <select name="estado" class="form-select">
                    <option value="" selected="@(string.IsNullOrEmpty(ViewBag.Estado))">Todos los estados</option>
                    <option value="FALTANTE" selected="@(ViewBag.Estado == "FALTANTE")">Solo Faltantes</option>
                    <option value="OBTENIDA" selected="@(ViewBag.Estado == "OBTENIDA")">Pegadas (Obtenidas)</option>
                    <option value="DUPLICADA" selected="@(ViewBag.Estado == "DUPLICADA")">Duplicadas (Para cambiar)</option>
                </select>
            </div>

        <!-- Botón buscar -->
        <div class="col-md-2">
            <button type="submit" class="btn boton-celeste w-100">
                    Buscar
            </button>
        </div>

        <!-- Botón eliminar filtro-->
        <div class="col-md-2">
            <a asp-action="Gestion"
                class="btn btn-secondary boton-filtro w-100">
                Reiniciar
            </a>
        </div>

    </div>

    </form>

    <!-- Resultados -->
    <table class="table table-striped tabla-figuritas">
        <thead>
            <tr>
                <th>Número</th>
                <th>Jugador</th>
                <th>Selección</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var figurita in Model)
            {
                // Usamos el diccionario pasado desde el controlador para obtener la cantidad real de cada figurita. Si no se encuentra, asumimos que es 0.
                var diccionario = ViewBag.Cantidades as Dictionary<int, int>;

                int cantidadReal = 0;
                if (diccionario != null && diccionario.ContainsKey(figurita.Id))
                {
                    cantidadReal = diccionario[figurita.Id];
                }

                <tr>
                    <td class="align-middle">@figurita.Numero</td>
                    <td class="align-middle">@figurita.NombreJugador</td>
                    <td class="align-middle">@figurita.Seleccion</td>

                    <td class="align-middle fw-bold fs-5 text-center">@cantidadReal</td>

                    <td class="align-middle">
                        <div class="d-inline-flex gap-1">
                            <form asp-action="ActualizarCantidad" method="post">
                                <input type="hidden" name="figuritaId" value="@figurita.Id" />
                                <input type="hidden" name="cambio" value="1" />
                                <input type="hidden" name="busqueda" value="@ViewBag.Busqueda" />
                                <input type="hidden" name="seleccion" value="@ViewBag.Seleccion" />
                                <input type="hidden" name="estado" value="@ViewBag.Estado" />
                                <button type="submit" class="btn btn-sm btn-success px-3">+</button>
                            </form>

                            <form asp-action="ActualizarCantidad" method="post">
                                <input type="hidden" name="figuritaId" value="@figurita.Id" />
                                <input type="hidden" name="cambio" value="-1" />
                                <input type="hidden" name="busqueda" value="@ViewBag.Busqueda" />
                                <input type="hidden" name="seleccion" value="@ViewBag.Seleccion" />
                                <input type="hidden" name="estado" value="@ViewBag.Estado" />
                                <button type="submit" class="btn btn-sm btn-danger px-3" @(cantidadReal <= 0 ? "disabled" : "")>-</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>