@model AlbumFiguritas.Models.Figurita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Figurita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreJugador)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seleccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seleccion)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlFotoJugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlFotoJugador)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuariosPoseen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuariosPoseen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
