@model IEnumerable<AlbumFiguritas.Models.Figurita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreJugador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seleccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlFotoJugador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuariosPoseen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(model => item.NombreJugador)
            </td>
            <td>
                @Html.DisplayFor(model => item.Seleccion)
            </td>
            <td>
                @Html.DisplayFor(model => item.UrlFotoJugador)
            </td>
            <td>
                @Html.DisplayFor(model => item.UsuariosPoseen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">✏️</a> |
                <a asp-action="Details" asp-route-id="@item.Id">ℹ️</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">❌</a>
            </td>
        </tr>
}
    </tbody>
</table>
