@model IEnumerable<AlbumFiguritas.Models.Figurita>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Figuritas</h1>

<p>
    <a class="btn btn-outline-primary text-white" asp-action="Create">Agregar Figurita</a>
</p>
<table class="table table-striped tabla-figuritas table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreJugador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seleccion)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NombreJugador)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Seleccion)
                </td>
                <td>
                    <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">✏️</a>
                    <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.Id">ℹ️</a>
                    <a class="btn btn-outline-light" asp-action="Delete" asp-route-id="@item.Id">❌</a>
                </td>
            </tr>
        }
    </tbody>
</table>
